In [141]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

TIME_INTERVAL = 1/30
features = [
    'time',
    'LocationX',
    'LocationY',
    'LocationZ',
    'LaunchX',
    'LaunchY',
    'LaunchZ',
    'LaunchAngle',
    'LaunchDirection',
    'InitialV',
    'label'
]

In [149]:
dataset= pd.read_excel("../testData/Vision Trajectory3.xlsx", sheet_name = ['forward3_out','forward7_out','forward6_scaled','forward7_scaled','shot1_away_camera'])

combinedDF = pd.DataFrame()
for feature in features:
    combinedDF[feature]= None


for sheet in dataset:
    print(sheet)
    # get each sheet
    DF = dataset[sheet]
    DF= DF[DF['Ball']==1]

    # create temporary dataframe and populate it with features
    tempDF = pd.DataFrame()
    for feature in features:
        tempDF[feature]= None
    tempDF['LocationX'] = DF['y'] * 10
    tempDF['LocationY'] = DF['x'] * 10
    tempDF['LocationZ'] = DF['z'] * 10
    tempDF=findStart(tempDF) # overwrite
    tempDF.reset_index(drop=True)
    tempDF['time'] = np.arange(0.0,len(tempDF)*TIME_INTERVAL,TIME_INTERVAL)
    combinedDF=pd.concat([combinedDF,tempDF],ignore_index=True)

forward3_out
forward7_out
forward6_scaled
forward7_scaled
shot1_away_camera

In [150]:
combinedDF

,time,LocationX,LocationY,LocationZ,LaunchX,LaunchY,LaunchZ,LaunchAngle,LaunchDirection,InitialV,label
0,0.000000,2383.24,297.32,3318.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.033333,3167.01,292.04,3856.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.066667,3929.38,292.45,4345.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.100000,4505.53,311.43,4718.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.133333,4997.76,312.07,5030.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
270,1.366667,11821.38,-1410.99,4367.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,1.400000,11890.80,-1402.09,4244.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,1.433333,11966.62,-1402.03,4110.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,1.466667,12037.49,-1401.93,3983.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,1.500000,12106.83,-1393.03,3860.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [143]:
#useless
def fillTime(dataframe,interval=TIME_INTERVAL):
    print(len(dataframe))
    t = 0.0
    for i in range(len(dataframe)):
        dataframe.iloc[i]['time'] = t
        t+=interval
    return dataframe

In [23]:
dataset

{'forward3_out':     Time  Ball       x         y        z
 0    0.0     1  27.454   157.111  278.883
 1    NaN     1  29.732   238.324  331.821
 2    NaN     1  29.204   316.701  385.695
 3    NaN     1  29.245   392.938  434.559
 4    NaN     1  31.143   450.553  471.839
 ..   ...   ...     ...       ...      ...
 56   NaN     1  80.571  1398.846  308.388
 57   NaN     1  80.095  1397.023  289.030
 58   NaN     1  81.437  1402.555  269.514
 59   NaN     1  80.779  1407.877  248.740
 60   NaN     1  82.035  1421.824  230.357

 [61 rows x 5 columns],
 'forward7_out':     Frame  Ball       x         y        z
 0     0.0     1   4.827   181.438  263.932
 1     NaN     1  18.452   257.894  303.579
 2     NaN     1  18.490   353.925  361.766
 3     NaN     1  19.219   436.240  410.769
 4     NaN     1  20.763   506.795  451.810
 5     NaN     1  21.709   567.025  486.064
 6     NaN     1  22.920   617.281  513.163
 7     NaN     1  24.829   669.909  541.393
 8     NaN     1  25.904   713.448  563.457
 9     NaN     1  27.219   752.760  582.873
 10    NaN     1  28.211   792.898  600.831
 11    NaN     1  29.395   825.714  615.231
 12    NaN     1  31.151   864.322  632.129
 13    NaN     1  31.803   890.110  640.791
 14    NaN     1  33.547   926.318  654.818
 15    NaN     1  34.602   951.051  661.889
 16    NaN     1  35.454   968.376  664.307
 17    NaN     1  36.582   994.450  671.620
 18    NaN     1  38.382  1029.000  680.503
 19    NaN     1  39.335  1048.134  682.141
 20    NaN     1  40.008  1073.129  687.013
 21    NaN     1  40.401  1089.340  685.692
 22    NaN     1  42.083  1116.926  689.197
 23    NaN     1  44.114  1138.556  690.038
 24    NaN     1  43.909  1151.103  685.244
 25    NaN     1  46.041  1175.839  684.341
 26    NaN     1  47.830  1189.008  677.861
 27    NaN     1  48.028  1213.609  677.930
 28    NaN     1  49.139  1220.623  667.854
 29    NaN     1  50.702  1241.060  663.991
 30    NaN     1  52.013  1268.926  661.833
 31    NaN     1  54.216  1277.411  650.313
 32    NaN     1  55.093  1291.807  642.190
 33    NaN     1  55.992  1306.970  633.652
 34    NaN     1  58.757  1329.842  627.280
 35    NaN     1  58.887  1338.499  614.296
 36    NaN     1  60.920  1355.513  604.792
 37    NaN     1  61.081  1365.510  591.017
 38    NaN     1  63.351  1374.368  577.390
 39    NaN     1  64.348  1391.693  566.990
 40    NaN     1  66.432  1409.270  555.368
 41    NaN     1  66.815  1411.405  538.392
 42    NaN     1  68.070  1422.250  522.962
 43    NaN     1  69.334  1433.136  508.046
 44    NaN     1  70.595  1444.034  492.545
 45    NaN     1  71.853  1454.938  476.467
 46    NaN     1  73.137  1466.547  460.522
 47    NaN     1  73.503  1469.089  442.991
 48    NaN     1  74.760  1480.001  426.893
 49    NaN     1  76.031  1491.576  409.846
 50    NaN     1  77.341  1504.515  391.978
 51    NaN     1  78.656  1517.492  374.057
 52    NaN     1  79.149  1511.875  353.460
 53    NaN     1  80.267  1532.034  337.782
 54    NaN     1  80.656  1536.903  317.618
 55    NaN     1  82.099  1541.149  298.021
 56    NaN     1  82.459  1545.886  277.143
 57    NaN     1  81.904  1541.990  256.487
 58    NaN     1  84.008  1572.824  239.029,
 'forward6_scaled':     Frame  Ball       x         y        z
 0       0     0  -1.000    -1.000   -1.000
 1       1     0  -1.000    -1.000   -1.000
 2       2     0  -1.000    -1.000   -1.000
 3       3     0  -1.000    -1.000   -1.000
 4       4     1  -4.151   103.985  484.280
 ..    ...   ...     ...       ...      ...
 79     79     1  56.919  1339.202  242.770
 80     80     1  55.792  1320.384  223.194
 81     81     1  57.711  1341.000  204.036
 82     82     0  -1.000    -1.000   -1.000
 83     83     0  -1.000    -1.000   -1.000

 [84 rows x 5 columns],
 'forward7_scaled':      Frame  Ball       x         y        z
 0        0     1   6.487   146.115  236.418
 1        1     1   5.701   145.929  262.144
 2        2     1   4.817   146.125  285.403
 3        3     1   4.114   146.944  307.189
 4        4     1   3.436   147.049  326.516
 ..     ...   ...     ...       ...      ...
 107    107     1  59.981  1338.074  234.012
 108    108     1  61.832  1365.192  218.657
 109    109     0  -1.000    -1.000   -1.000
 110    110     0  -1.000    -1.000   -1.000
 111    111     0  -1.000    -1.000   -1.000

 [112 rows x 5 columns],
 'shot1_away_camera':      Frame  Ball       x        y        z
 0        0     1 -59.680  182.141  510.980
 1        1     1 -59.352  180.355  505.786
 2        2     1 -59.557  179.829  501.795
 3        3     1 -59.568  178.757  495.630
 4        4     1 -59.773  178.749  490.915
 ..     ...   ...     ...      ...      ...
 161    161     0  -1.000   -1.000   -1.000
 162    162     0  -1.000   -1.000   -1.000
 163    163     0  -1.000   -1.000   -1.000
 164    164     0  -1.000   -1.000   -1.000
 165    165     0  -1.000   -1.000   -1.000

 [166 rows x 5 columns]}

In [62]:
def plotSpeeds(dataframe):
    '''
    Calculates and plots instantaneous speed of shuttlecock between every frame
    '''
    speeds = []
    # we minus one since we are unable to access the coordinates at t+1 for the very last row, DNE! 
    for i in range(len(dataframe)-1):
        row = dataframe.iloc[i]
        nextRow = dataframe.iloc[i+1]
        forwardSpeed = (math.sqrt((nextRow['LocationX'] - row['LocationX'])**2 + 
                                  (nextRow['LocationY'] - row['LocationY'])**2 +
                                  (nextRow['LocationZ'] - row['LocationZ'])**2)) /(TIME_INTERVAL)
        
        speeds.append(forwardSpeed)
    fig = plt.Figure()
    plt.plot(speeds)
    plt.xlabel('Frame')
    plt.ylabel('Speed')
    plt.title('Instantaneous speed of shuttlecock at each frame')
    plt.grid(True)
    plt.show()

In [80]:
def findStart(dataframe):
    '''
    Find the true start point of a trajectory by looking at acceleration values between each of the points.
    The true start is the first frame when the shuttlecock has just left the racket. Assume that happens when shuttlecock reaches its max instantaneous velocity.
    Then the true start point should be the i+1 point! Since the speed btwn i+2 and i+1 is less than btwn i+1 and i, it makes sense that
    shuttlecock left at i+1!
    '''
    speeds = []
    # we minus one since we are unable to access the coordinates at t+1 for the very last row, DNE! 
    for i in range(len(dataframe)-1):
        row = dataframe.iloc[i]
        nextRow = dataframe.iloc[i+1]
        forwardSpeed = (math.sqrt((nextRow['LocationX'] - row['LocationX'])**2 + 
                                  (nextRow['LocationY'] - row['LocationY'])**2 +
                                  (nextRow['LocationZ'] - row['LocationZ'])**2)) /(TIME_INTERVAL)
        speeds.append((forwardSpeed,i,i+1))
    speeds.sort(key= lambda x:x[0],reverse=True)
    trueStartIndex = speeds[0][2]
    return dataframe[trueStartIndex:]